.top-corner{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
}
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
h1.site-name {
    font-size: 55px;
    color: #006341;
    text-align: center;
}
#btn-search {
    border-radius: 0px 4px 4px 0px;
    padding: .375rem 1.5rem;
}
h5.card-title {
    color: #006341;
    margin-bottom: 8px;
}
h6.card-subtitle {
    font-size: 14px;
}
p.card-text {
    font-size: 12px;
}
a.card-link {
    font-size: 12px;
}
.pagination {
    justify-content: center;
}
.filter-box {
    font-size: 0.85rem;
}
.card-body li {
    font-size: 12px;
}
.bg-gold {
    background: #e3c383;
}
.btn-gold  {
    background: #e3c383;
    border-color: #e3c383;
    color: white;
}
.btn-gold:hover {
    opacity: 0.9;
}
.ft-green {
    color: #006341;
}