<html>
<head>
    <title>{% if query %}{{ query }} | {% endif %}{{ name }} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap4-tagsinput/tagsinput.css">
    <link rel="stylesheet" href="/static/vendor/open-iconic/font/css/open-iconic-bootstrap.css" >
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1.custom/jquery-ui.theme.css">
</head>

<body>
    <div class="top-corner">
        <small class="text-muted">Data collected for this application is for academic purposes only.</small><br>
        <small class="text-muted">Built by {{ netid }}</small><br>
        <small class="text-muted">Switch to
            <a href="/?version=2">Version 2</a> |
            <a href="/?version=1">Version 1</a>
        </small>
    </div>
    <main role="main" class="container">

        <div class="row justify-content-lg-center">
            <div class="search-container col-lg-8">
                <h1 class="site-name">{{ name }}</h1>
                <p class="lead"></p>
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white font-weight-bold" id="basic-addon3">Flavors</span>
                        </div>
                        <input type="text" name="flavor" class="form-control" id="search_input" onchange='showComplements()' aria-describedby="basic-addon3"
                            data-role="tagsinput" placeholder="citrus, floral...">
                        <button id="btn-search" type="submit" class="btn btn-gold">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                        {% if version %}
                        <input type="hidden" name="version" value="{{ version }}" />
                        {% endif %}
                    </div>
                </form>
                <p id="suggest" class="mb-0"></p>
            </div>
            <div class="search-result col-lg-8 mt-4">
                {% if query %}
                <div class="row align-items-center pl-3 pr-3">
                    <div class="col-md-7 bg-light p-3">
                        <h5 class="m-0">
                            <small class="text-muted">Best tea with</small>
                            <span class="ft-green">{{query}}</span>
                            {% if multi_query %}
                            <small class="text-muted">flavors</small>
                            {% else %}
                            <small class="text-muted">flavor</small>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="col-md-5 bg-light text-right" style="padding: 1.15rem!important">
                        <small class="text-muted">{{ pagination.info }}</small>
                    </div>
                </div>
                {% endif %}
                {% if teas %}
                <div class="mb-3">
                    {% for tea in teas %}
                    <div class="card mt-2">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="card-img-top align-self-start mt-4 ml-4" style="width:120px" src="{{ tea.imageUrl }}" alt="{{ tea.name }}" onError="this.onerror=null;this.src='https://media.steepster.com/api/file/anN07UThRu6hWl3o9Dvt/convert?fit=crop&h=190&w=190';">
                                    <div class="media-body">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span class="text-muted mr-1 font-weight-light">{{loop.index0+1+page}}.</span>{{ tea.name }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">by {{ tea.brand }}</h6>
                                            <p class="card-text mb-1">
                                                <span class="font-weight-bold">Tea Type: </span>{{ tea.teaType }}</p>
                                            <p class="card-text mb-2">
                                                <span class="font-weight-bold">Flavors: </span>{{ tea.marked_flavors|safe }}</p>
                                            <p class="card-text mb-2">
                                                <span class="font-weight-bold">Top Review Descriptors: </span>{{ tea.features }}</p>
                                            <p class="card-text mb-2">
                                                <a class="" data-toggle="collapse" href="#collapse{{ tea.steepsterID }}" role="button" aria-expanded="false" aria-controls="collapse{{ tea.steepsterID }}">
                                                    View similar teas
                                                </a>
                                            </p>
                                            <div class="collapse mb-2" data-href="{{ tea.steepsterID }}" id="collapse{{ tea.steepsterID }}"></div>
                                            <hr>
                                            <p class="card-text mb-2">
                                                <span class="font-weight-bold">Top Tasting Note: </span>{{ tea.review1 }}</p>
                                            <hr>
                                            <p class="card-text mt-2 mb-1 text-muted">For more information,
                                                <a href="{{ tea.url }}" class="card-link">view {{ tea.name }} on Steepster</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {{ pagination.links }} {% endif %}
            </div>
            {% if teas %}
            <div class="filters col-lg-4 mt-4 d-none d-lg-block">
                {% if tea_types %}
                <div class="filter-box mb-3 bg-light p-3">
                    <h6 class="mb-1 ft-green">Tea Type</h6>
                    <form id="teaTypeForm" class="mb-0">
                        <input type="hidden" name="flavor" value="{{ query }}" />
                        {% if f_caffeine %}
                        <input type="hidden" name="notCaffeines" value="{{ f_caffeine }}" />
                        {% endif %}
                        <input type="hidden" name="notTeaTypes" value="" id="teaTypeFilter" />
                        {% for teaType in tea_types %}
                        <div class="form-check">
                            {% if teaType[1] == False %}
                            <input class="form-check-input teaTypeCB" type="checkbox" id="id_{{teaType[0]}}" value="{{teaType[0]}}" onclick="checkSubmit('teaType')" checked />
                            {% else %}
                            <input class="form-check-input teaTypeCB" type="checkbox" id="id_{{teaType[0]}}" value="{{teaType[0]}}" onclick="checkSubmit('teaType')">
                            {% endif %}
                            <label class="form-check-label" for="id_{{teaType[0]}}">
                                {{teaType[0]}} <span class="text-muted">({{teaType[2]}})</span>
                            </label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                {% endif %}
                {% if caffeines %}
                <div class="filter-box mb-3 bg-light p-3">
                    <h6 class="mb-1 ft-green">Caffeine</h6>
                    <form id="caffeineForm" class="mb-0">
                        <input type="hidden" name="flavor" value="{{ query }}" />
                        {% if f_teaType %}
                        <input type="hidden" name="notTeaTypes" value="{{ f_teaType }}" />
                        {% endif %}
                        <input type="hidden" name="notCaffeines" value="" id="caffeineFilter" />
                        {% for caffeine in caffeines %}
                        <div class="form-check">
                            {% if caffeine[1] == False %}
                            <input class="form-check-input caffeineCB" type="checkbox" id="id_{{caffeine[0]}}" value="{{caffeine[0]}}" onclick="checkSubmit('caffeine')" checked />
                            {% else %}
                            <input class="form-check-input caffeineCB" type="checkbox" id="id_{{caffeine[0]}}" value="{{caffeine[0]}}" onclick="checkSubmit('caffeine')">
                            {% endif %}
                            <label class="form-check-label" for="id_{{caffeine[0]}}">
                                {{caffeine[0]}} <span class="text-muted">({{caffeine[2]}})</span>
                            </label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </main>
    <!-- /.container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap4-tagsinput/tagsinput.js"></script>
    <script src="/static/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/static/search.js"> </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118392173-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-118392173-1');
    </script>

</body>

</html>
